<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./navbar.css" />
    <title>Document</title>
  </head>
  <style>
    body {
      font-family: "Inter", sans-serif;
      /* 字體這樣就全部吃到了 */
    }
  </style>
  <body>
    <nav class="custom-topnav">
      <div class="topnav-logo-container">
        <img src="assets/images/logo.svg" alt="" class="topnav-logo-desktop" />
        <img
          src="assets/images/logo (1).svg"
          alt=""
          class="topnav-logo-mobile"
        />
      </div>
      <div class="topnav-content">
        <ul class="topnav-menu">
          <li>
            <a href="#" class="topnav-link">AVACAST</a>
          </li>
          <li>
            <a href="#" class="topnav-link">IllumiNet</a>
          </li>
          <li>
            <a href="#" class="topnav-link">AVA Classroom</a>
          </li>
        </ul>
        <!-- 跳出框 -->
        <div class="topnav-user-menu">
          <!-- 觸發圖示 -->
          <div class="topnav-user-avatar topnav-login">
            <img src="assets/images/Group 1043.svg" alt="" />
          </div>

          <!--  跳出框放進 relative 容器內 -->
          <div class="custom-topnav-usermenu-dropdown topnav-login-section">
            <div class="topnav-user-info">
              <img
                src="assets/images//帳戶.svg"
                alt=""
                class="topnav-user-avatar-small"
              />
              <p>distributor</p>
            </div>
            <a href="profile.html" class="topnav-dropdown-item account-settings"
              >帳號設定</a
            >
            <a href="logout.html" class="topnav-dropdown-item logout"
              >帳號登出</a
            >
          </div>
        </div>
        <!-- 跳出框 -->
      </div>
    </nav>
    <script src="app.component.frame.navbar.js"></script>
    <script src="navbar.js"></script>
  </body>
</html>
