#menu {
  position: absolute;
  top: 0;
  right: 15px;
  margin-right: 50px;
  padding-top: 5px;
  text-shadow: none;
  height: 60px;
}
.el-menu-demo {
  background: transparent;
  border: none !important;
  height: 100%;
}
.el-menu-demo .el-submenu,
.el-menu--horizontal > .el-menu-item {
  height: 100%;
}
.el-menu--horizontal .el-menu .el-menu-item {
  margin: 15px;
  font-weight: 400;
}
.el-menu--horizontal > .el-submenu .el-submenu__title,
.el-menu-item {
  height: 100%;
  font-weight: 600;
  font-size: 26px;
  display: flex;
  align-items: center;
  color: #aaa;
}
.el-menu--horizontal > .el-submenu .el-submenu__title {
  border-bottom: none;
}
.ui-header {
  border: none !important;
}
.el-menu--horizontal .el-menu--popup,
.el-menu--horizontal .el-menu--popup .el-menu-item {
  background: #fff !important;
  color: #004831 !important;
  /* color: transparent !important; */
}
.el-menu--horizontal .el-menu--popup .el-menu-item:hover {
  background: #eee !important;
}
.el-menu--horizontal > .el-submenu.is-active .el-submenu__title,
.el-menu--horizontal > .el-menu-item.is-active {
  border-bottom-color: transparent !important;
}
@media (max-width: 1299px) {
  .el-menu--horizontal > .el-submenu .el-submenu__title,
  .el-menu-item {
    font-size: 18px;
  }
}
.el-submenu [class^='el-icon-'],
.el-menu-item [class^='el-icon-'] {
  font-size: 24px;
}
