<style>
  /* 調淺 Placeholder 顏色 */
  #organization-add-modal input::placeholder,
  #organization-add-modal textarea::placeholder {
    color: #d1d5db !important;
    opacity: 1;
  }
</style>
<div id="organization-add-modal" class="modal-overlay" style="display: none">
  <div
    class="modal-content"
    style="
      background-color: #ffffff;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
      border-radius: 15px;
      padding: 30px;
      width: 800px;
      max-height: 90vh;
      overflow-y: auto;
    "
  >
    <div>
      <div
        class="page-caption"
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div style="display: flex; align-items: center">
          <img
            src="assets/images/add_group_icon.svg"
            alt=""
            style="margin-right: 1rem; width: 30px"
          />
          <h1
            style="
              font-family: Inter;
              font-weight: 900;
              font-size: 24px;
              line-height: 125%;
              letter-spacing: 5%;
              vertical-align: middle;
            "
          >
            {{organization.title_insert_organization}}
          </h1>
        </div>
        <div style="cursor: pointer" id="organization-add-modal-close">
          <img src="assets/images/X.svg" alt="" />
        </div>
      </div>
      <style>
        #organization_insert-same_as_company_addr {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 16px;
          height: 16px;
          border: 2px solid #e5e8ea;
          border-radius: 3px;
          cursor: pointer;
          position: relative;
        }
        #organization_insert-same_as_company_addr:checked {
          background-color: #ff8c00;
          border-color: #ff8c00;
        }
      </style>
      <table>
        <tr style="display: none">
          <td
            colspan="6"
            style="display: flex; flex-direction: column; margin-top: 1rem"
          >
            <label
              style="
                font-size: 14px;
                line-height: 1.5;
                font-weight: 500;
                color: #898c94;
              "
              >AVA 產品</label
            >
            <div style="display: flex; gap: 8px">
              <div
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 8px;
                "
              >
                <input
                  type="checkbox"
                  id="avacast"
                  style="width: 16px; height: 16px; accent-color: #214f7c"
                />
                <span style="font-size: 14px; color: #898c94"> AVACAST </span>
              </div>

              <div
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 8px;
                "
              >
                <input
                  type="checkbox"
                  id="illuminet"
                  style="width: 16px; height: 16px; accent-color: #214f7c"
                />
                <span style="font-size: 14px; color: #898c94"> IllumiNet </span>
              </div>

              <div
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 8px;
                "
              >
                <input
                  type="checkbox"
                  id="avaclassroom"
                  style="width: 16px; height: 16px"
                />
                <span style="font-size: 14px; color: #898c94; margin: 0">
                  AVA Classroom
                </span>
              </div>
              <div
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 8px;
                "
              >
                <input
                  type="checkbox"
                  id="avaclassroom"
                  style="width: 16px; height: 16px; accent-color: #214f7c"
                />
                <span style="font-size: 14px; color: #898c94; margin: 0">
                  Hardware Products
                </span>
              </div>
            </div>
          </td>
        </tr>
        <tr style="display: flex; gap: 1.5rem; margin-top: 1rem">
          <td colspan="6" style="display: flex; flex-direction: column">
            <label
              class=""
              for="organization_insert-country"
              style="color: #898c94"
              >{{organization.country}}</label
            >
            <select
              id="organization_insert-country"
              name="organization_insert-country"
              style="
                border: 1px solid #e5e8ea;
                outline: none;
                height: 38px;
                padding: 8px;
                background-color: #ffffff;
                width: 230px;
                border-radius: 10px;
              "
              required
            >
              <option value="">請選擇國家</option>
              <option value="Taiwan">Taiwan</option>
              <option value="China">China</option>
              <option value="Japan">Japan</option>
              <option value="India">India</option>
              <option value="Thailand">Thailand</option>
            </select>
          </td>

          <td
            colspan="2"
            style="display: flex; flex-direction: column; width: 230px"
          >
            <label
              class=""
              for="organization_insert-group_name"
              style="color: #898c94"
              >{{organization.group_name}}</label
            >
            <input
              id="organization_insert-group_name"
              type="text"
              name="organization_insert-group_name"
              placeholder="{{organization.group_name_hint}}"
              value=""
              style="
                border: 1px solid #e5e8ea;
                outline: none;
                height: 38px;
                padding: 8px;
                border-radius: 10px;
              "
              required
            />
          </td>
        </tr>
        <tr style="display: flex; gap: 1.5rem; margin-top: 1rem">
          <td
            colspan="2"
            style="display: flex; flex-direction: column; width: 230px"
          >
            <label
              class=""
              for="organization_insert-group_cid"
              style="color: #898c94"
              >{{organization.group_cid}}</label
            >
            <input
              id="organization_insert-group_cid"
              type="text"
              name="organization_insert-group_cid"
              placeholder="{{organization.group_cid_hint}}"
              value=""
              style="
                border: 1px solid #e5e8ea;
                outline: none;
                height: 38px;
                padding: 8px;
                border-radius: 10px;
              "
              required
            />
          </td>
          <td
            colspan="4"
            style="display: none; flex-direction: column; width: 230px"
          >
            <label
              class=""
              for="organization_insert-group_type"
              style="color: #898c94"
              >{{organization.group_type}}</label
            >
            <input
              id="organization_insert-group_type"
              type="text"
              name="organization_insert-group_type"
              placeholder="{{organization.group_type_hint}}"
              value=""
              required
              style="
                border: 1px solid #e5e8ea;
                outline: none;
                height: 38px;
                padding: 8px;
                border-radius: 10px;
              "
            />
          </td>
          <td
            colspan="6"
            style="display: none; flex-direction: column; width: 230px"
          >
            <label class="" for="organization_insert-owner_cid"
              >{{organization.owner_cid}}</label
            >
            <input
              id="organization_insert-owner_cid"
              type="text"
              name="organization_insert-owner_cid"
              placeholder="{{organization.owner_cid_hint}}"
              value=""
              required
            />
          </td>
          <td
            colspan="6"
            style="display: flex; flex-direction: column; width: 230px"
          >
            <label
              class=""
              for="organization_insert-group_ubn"
              style="color: #898c94"
              >{{organization.group_ubn}}</label
            >
            <input
              id="organization_insert-group_ubn"
              type="text"
              name="organization_insert-group_ubn"
              placeholder="{{organization.group_ubn_hint}}"
              value=""
              required
              style="
                border: 1px solid #e5e8ea;
                outline: none;
                height: 38px;
                padding: 8px;
                border-radius: 10px;
              "
            />
          </td>
          <td
            colspan="6"
            style="display: flex; flex-direction: column; width: 230px"
          >
            <label
              class=""
              for="organization_insert-contact"
              style="color: #898c94"
              >{{organization.contact}}</label
            >
            <input
              id="organization_insert-contact"
              type="text"
              name="organization_insert-contact"
              placeholder="{{organization.contact_hint}}"
              value=""
              style="
                border: 1px solid #e5e8ea;
                outline: none;
                height: 38px;
                padding: 8px;
                border-radius: 10px;
              "
              required
            />
          </td>
        </tr>
        <tr style="display: flex; gap: 1.5rem; margin-top: 1rem">
          <td
            colspan="6"
            style="display: flex; flex-direction: column; width: 358px"
          >
            <label
              class=""
              for="organization_insert-contact_phone_01"
              style="color: #898c94"
              >{{organization.contact_phone_01}}</label
            >
            <input
              id="organization_insert-contact_phone_01"
              type="text"
              name="organization_insert-contact_phone_01"
              placeholder="{{organization.contact_phone_01_hint}}"
              value=""
              style="
                border: 1px solid #e5e8ea;
                outline: none;
                height: 38px;
                padding: 8px;
                border-radius: 10px;
              "
              required
            />
          </td>
          <td
            colspan="6"
            style="display: flex; flex-direction: column; width: 358px"
          >
            <label
              class=""
              style="color: #898c94"
              for="organization_insert-contact_email_01"
              >{{organization.contact_email_01}}</label
            >
            <input
              id="organization_insert-contact_email_01"
              type="text"
              name="organization_insert-contact_email_01"
              placeholder="{{organization.contact_email_01_hint}}"
              value=""
              style="
                border: 1px solid #e5e8ea;
                outline: none;
                height: 38px;
                padding: 8px;
                border-radius: 10px;
              "
              required
            />
          </td>
        </tr>
        <tr style="display: none">
          <td colspan="6" style="display: flex; flex-direction: column">
            <label class="" for="organization_insert-city"
              >{{organization.city}}</label
            >
            <input
              id="organization_insert-city"
              type="text"
              name="organization_insert-city"
              placeholder="{{organization.city_hint}}"
              value=""
              required
            />
          </td>
        </tr>
        <tr style="display: flex; gap: 1.5rem; margin-top: 1rem">
          <td
            colspan="6"
            style="display: flex; flex-direction: column; width: 358px"
          >
            <label
              class=""
              for="organization_insert-address"
              style="color: #898c94"
              >{{organization.address}}</label
            >
            <input
              id="organization_insert-address"
              type="text"
              name="organization_insert-address"
              placeholder="{{organization.address_hint}}"
              value=""
              required
              style="
                border: 1px solid #e5e8ea;
                outline: none;
                height: 38px;
                padding: 8px;
                border-radius: 10px;
              "
            />
          </td>
          <td
            colspan="6"
            style="display: flex; flex-direction: column; width: 358px"
          >
            <div
              style="
                display: flex;
                align-items: center;
                gap: 8px;
                margin-bottom: 4px;
              "
            >
              <label
                class=""
                for="organization_insert-billing_addr"
                style="color: #898c94; margin: 0"
                >{{organization.billing_addr}}</label
              >
              <div style="display: flex; align-items: center; gap: 4px">
                <input
                  type="checkbox"
                  id="organization_insert-same_as_company_addr"
                />
                <span style="font-size: 14px; color: #898c94">同公司地址</span>
              </div>
            </div>
            <input
              id="organization_insert-billing_addr"
              type="text"
              name="organization_insert-billing_addr"
              placeholder="{{organization.billing_addr_hint}}"
              value=""
              required
              style="
                border: 1px solid #e5e8ea;
                outline: none;
                height: 38px;
                padding: 8px;
                border-radius: 10px;
              "
            />
          </td>
        </tr>
        <tr>
          <td
            colspan="6"
            style="display: flex; flex-direction: column; margin-top: 1rem"
          >
            <label
              class=""
              for="organization_insert-note00"
              style="color: #898c94"
              >{{common.note00}}</label
            >
            <textarea
              id="organization_insert-note00"
              name="organization_insert-note00"
              placeholder="{{common.note00_hint}}"
              required
              style="
                border: 1px solid #e5e8ea;
                outline: none;
                padding: 8px;
                height: 80px;
                resize: vertical;
                border-radius: 10px;
              "
            >
{{}}
</textarea
            >
          </td>
        </tr>
        <tr
          style="
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
            margin-top: 1rem;
          "
        >
          <td style="width: auto">
            <button
              id="organization_insert-button-cancel-modal"
              type="button"
              class=""
              style="
                cursor: pointer;
                width: 130px;
                height: 48px;
                background-color: #ffffff;
                border: 1px solid #e5e8ea;
                border-radius: 10px;
              "
            >
              {{common.cancel}}
            </button>
          </td>
          <td style="width: auto">
            <button
              id="organization_insert-button-ok-modal"
              type="button"
              class=""
              style="
                cursor: pointer;
                width: 130px;
                height: 48px;
                background-color: #214f7c;
                border-radius: 10px;
                border: none;
                color: #ffffff;
              "
            >
              {{common.save}}
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
