<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="avaclassroom.css" />
  </head>
  <body>
    <nav class="frame-nav-avaclassroom">
      <div class="nav-item-avaclassroom">
        <div
          class="nav-icon-avaclassroom dashboard-icon-avaclassroom"
          id="dashboard"
        ></div>
        <span class="nav-text-avaclassroom">Dashboard</span>
      </div>

      <div class="nav-item-avaclassroom nav-item-second-avaclassroom">
        <div class="nav-icon list-icon-avaclassroom" id="list"></div>
        <span class="nav-text-avaclassroom">授權列表</span>
      </div>
    </nav>
  </body>
</html>
